[MASTER]
extension-pkg-whitelist=mypy.api
ignore=CVS
jobs=0
limit-inference-results=100
load-plugins=pylint.extensions.broad_try_clause,
             pylint.extensions.check_elif,
             pylint.extensions.comparetozero,
             pylint.extensions.docparams,
             pylint.extensions.docstyle,
             pylint.extensions.emptystring,
             pylint.extensions.overlapping_exceptions,
             pylint.extensions.redefined_variable_type
persistent=yes
suggestion-mode=yes
unsafe-load-any-extension=no

[GENERAL]
disable=missing-module-docstring,
        ungrouped-imports,
        unspecified-encoding

[DESIGN]
good-names=cb,p,f,x,y,z
max-statements=70

[REFACTORING]
max-nested-blocks=5
never-returning-functions=sys.exit

[LOGGING]
logging-format-style=old
logging-modules=logging

[DOCUMENTATION]
default-docstring-type=numpy
