{
  "cSpell.ignorePaths": [
    "**/lib/python*/**/*.py",
    "**/package-lock.json",
    "**/node_modules/**",
    "**/vscode-extension/**",
    "**/.git/objects/**",
    ".vscode",
    "exec-defaults.sh",
    "Preferences/**"
  ],
  "cSpell.ignoreWords": [
    "asyncio",
    "bdist",
    "bdist wheel",
    "chdir",
    "check",
    "check elif",
    "comparetozero",
    "crashlyt",
    "docparams",
    "docstyle",
    "dynload",
    "ehthumbs",
    "elif",
    "emptystring",
    "googlecode",
    "iterm",
    "itertools",
    "macprefs",
    "mypy",
    "noqa",
    "numpy",
    "objectdb",
    "plist",
    "plistlib",
    "plists",
    "plutil",
    "prefs",
    "pycache",
    "pylint",
    "pypi",
    "ropeproject",
    "sdist",
    "setuptools",
    "sqlite",
    "strftime",
    "udvare",
    "undos",
    "ungrouped",
    "unmatch",
    "vcss",
    "wheel"
  ],
  "python.linting.pylintEnabled": true
}
